tqdm
imageio[ffmpeg]
torch
torchvision
jaxtyping
tyro
git+https://github.com/NVlabs/nvdiffrast.git
kiui
opencv-python
trimesh
scipy
huggingface-hub[torch]>=0.22
torchsnooper
matplotlib==3.8.4
gpustat
plyfile
alphashape
scikit-image
piqa
concave_hull
einops
roma
alphashape
pandas
geopandas
scikit-learn
shapely
viser
tensorboard
gradio
rtree